ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
depcomp
config.guess
config.log
config.status
config.sub
configure
install-sh
config.h
config.h.in
libtool
ltmain.sh
missing
m4
pre_config.h*
stamp-h*
configure.scan
ltconfig
mkinstalldirs
INSTALL
COPYING
*.tar.gz
*.tar.bz2
compile
po/Makefile.in.in
po/POTFILES
.deps/
.libs/
*.gmo
*~
*.la
*.lo
*.o
